{% extends "main.j2" %}
{% block content %}

<h1>Valleyview Athletics Management System</h1>
    <h3>Created by James Chen and Humza Hussain</h3>
<div class="homepageDescription">
    <p>Schools: Read information for schools</p>
    <p>Facilities: Read information for athletic facilities</p>
    <p>Athletes: Create, read, update, and delete student athletes</p>
    <p>Teams: Create, read, update, and delete athletic teams</p>
    <p>Players: Create, read, update, and delete players (a player is an athlete on a team roster)</p>
    <p>Games: Create, read, update, and delete games between teams</p>
</div>

<footer>
    <p></p>
</footer>
{% endblock %}